
@font-face {
  font-family: 'Blueroad';
  src: url('./assets/font/Yeongdeok Blueroad.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Haeparang';
  src: url('./assets/font/Yeongdeok Haeparang.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select:focus {
  @apply outline-none border-2 border-[#9DC3E6];
}

.custom-input:focus {
  @apply outline-none border-2 border-[#9DC3E6];
}

.custom-textarea:focus {
  @apply outline-none border-2 border-[#9DC3E6];
}

body {
  margin: 0;
  font-family: 'Blueroad', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Haeparang{
  font-family: 'Haeparang', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black !important; /* 기본 글자색 유지 */
}

p {
  white-space: pre-line;
}

.custom-bg-opacity-50 {
  position: relative; /* 요소 자체의 위치를 조정*/
}
.custom-bg-opacity-50::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.5; /* 불투명도 설정 */
  z-index: -1; /* 배경 이미지가 다른 내용 뒤에 오도록 설정 */
}